{% extends 'base.html' %}

{% block title %}about{% endblock %}

{% block content %}
<div class="col-md-8 mx-auto">
    <h5>
        <hr>
        На данному ресурсі ви можете пройти тестування на перевірку знань з техніки безпеки та стандартів якості
        при виробництві молочно-кислих продуктів та сирів на ТОВ "СМСЗ" м.Світловодськ.
        <hr>
        <p></p>
        Для того щоб розпочати тестування Вам потрібно зареєструватись, натиснувши на кнопку "Реєстрація" віще та
        перейти за посиланням до реєстрації (уважно прочитайте вимоги щодо заповнення форми реєстрації).
        <hr>
        <p></p>
        Далі Вам потрібно буде та увійти під своїми данними (після успішної реєстрації Ви автоматично перейдете до форми
        входу.
        Введіть данні, які ви вказали при реєстрації і далі Ви побачите перелік тестів.
        <hr>
        <p></p>
        Обирайте необхідний тест за назвою в якій вказана посада та підрозділ, натискайте на нього та починайте
        тестування.
        <hr>
        {% if user.is_authenticated %}
        <div class="col-md-3 mx-auto">
            <a class="btn btn-success" href="{% url 'questions:tests'%}">Перейти до тестування</a>
            {% else %}
            <div class="col-md-3 mx-auto">
                <a class="btn btn-success" href="{% url 'accounts:registration'%}">Реєстрація</a>

                <a class="btn btn-success" href="{% url 'accounts:login'%}">Увійти</a>
            </div>
        </div>
        {% endif %}

    </h5>
</div>
{% endblock content %}